<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pradeep.mycollage">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".parent.userinterface.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".staff.userinterface.activities.NavigationDrawerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".staff.userinterface.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".staff.userinterface.activities.CardViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".staff.userinterface.activities.CardDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".staff.userinterface.activities.PresencyDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".student.userinterface.activities.NavigationDrawer"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_student_navigation_drawer"
            android:theme="@style/AppTheme"/>


    </application>

</manifest>
